* {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    font-family: Helvetica;
}
header {
    background-color: #2c3e50;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
nav ul {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    color: white;
}
nav ul li {
    margin: 0.7rem;
    list-style: none;
    padding: 0.5rem;
}
nav ul li a {
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
}
header p {
    margin-top: 1.5rem;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.2rem;
}
div {
    min-height: 30rem;

}
.divPortada {
    background-color: white;
}
footer {
    background-color: #2c3e50;
    min-height: 15rem;
}
h1 {
    font-size: 3rem;
    font-family: Helvetica;
    padding: 3rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
    font-family: Helvetica;
}
p {
    font-size: 1rem;
    font-family: Helvetica;
    color: white;
    text-align: center;
}
img {
    width: 20%;
}
div img {
    width: 200px;
    border-radius: 10%;
    padding: 0.5rem;
}
.imgPorfolio {
    display: flex;
    justify-content: space-around;
}
.titleWhite {
    color: white;
    
}
.titleDark {
    color: #2c3e50;
}
.divBlanco {
    background-color: white;
}
.divAqua {
    background-color: #1abc9c;
}
.divAvatar{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    min-height: 2rem;
    max-height: 12rem;
}